{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<h3>Головна сторінка проекту!</h3>
    {% if books %}
        {% for el in books %}
            <div class="alert alert-secondary mt-2">
                <p>{{ el.id }})</p>
                <h3><u>{{ el.title }}</u></h3>
                <p><b><i>{{ el.author }}</i></b></p>
                <p><i>{{ el.text }}</i></p>
                <p><b>Видано: {{ el.published }}</b></p>
                <p>Кількість книжок: {{ el.count }}</p>
                <p>Зареєстровано: {{ el.created }}</p>
            </div>
        {% endfor %}
    {% else %}
        <br>
        <p>Нажаль, книжки, що відповідають вашому запиту у нас відсутні...</p>
        <br>
    {% endif %}
{% endblock %}





